# Import Required Libraries

In [168]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.multioutput import MultiOutputClassifier
from sklearn.metrics import accuracy_score
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier

# Read DATA

In [169]:
df = pd.read_csv('dataFrame.csv')

In [170]:
df.head()

,Unnamed: 0,Order Priority,Market,Sales,Quantity,Shipping Cost,Discount,City,State,Country,Region,product category,Ship Mode
0,0,3,3,78.408,6,3.87,0.7,41,0,137,5,2,Standard Class
1,1,3,3,82.674,2,5.69,0.7,41,0,137,5,1,Standard Class
2,2,1,3,4.248,1,0.10,0.7,2635,821,137,5,1,Same Day
3,3,1,3,224.748,6,60.08,0.7,2635,821,137,5,0,Same Day
4,4,1,3,6.966,1,1.75,0.7,2635,821,137,5,1,Second Class

# Final EDA
1- OneHotEncode
2- train and test split
3- Standard scale

In [171]:
OneHot = OneHotEncoder()
y = OneHot.fit_transform(df[['Ship Mode']]).toarray()
y

array([[0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.],
       ...,
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.]])

In [172]:
X1 = df.drop(['Unnamed: 0', 'City', 'Shipping Cost', 'State', 'Country', 'Ship Mode'], axis=1)
X1

,Order Priority,Market,Sales,Quantity,Discount,Region,product category
0,3,3,78.408,6,0.7,5,2
1,3,3,82.674,2,0.7,5,1
2,1,3,4.248,1,0.7,5,1
3,1,3,224.748,6,0.7,5,0
4,1,3,6.966,1,0.7,5,1
...,...,...,...,...,...,...,...
49665,3,1,4.077,1,0.7,0,1
49666,3,1,7.164,2,0.7,0,1
49667,3,1,71.640,2,0.7,0,2
49668,3,1,1.161,1,0.7,0,1
49669,1,1,4.104,1,0.7,0,1

In [173]:
X_train, X_test, y_train, y_test = train_test_split(X1, y, test_size=0.2, random_state=1122)

In [174]:
sc = StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [175]:
X_train

array([[-0.11040485,  0.73765629, -0.38902875, ..., -0.67447564,
        -0.86658338, -0.00345552],
       [-1.03652839, -1.48601233, -0.26197373, ..., -0.67447564,
         1.35781734, -0.00345552],
       [ 0.81571868,  0.73765629, -0.43994794, ...,  1.21247502,
        -0.86658338, -0.00345552],
       ...,
       [ 0.81571868, -1.48601233, -0.08540854, ...,  3.09942568,
         0.52366707, -1.60006781],
       [-1.03652839, -1.48601233,  0.1223333 , ...,  0.50486852,
         1.35781734, -1.60006781],
       [ 0.81571868,  1.18239001, -0.43907337, ...,  0.26899969,
         1.07976725, -0.00345552]])

# train XGboost

In [176]:
xgb_estimator = xgb.XGBClassifier()
multilabel_model = MultiOutputClassifier(xgb_estimator)
multilabel_model.fit(X_train, y_train)

print('Accuracy on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('Accuracy on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

print('F1 score on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('F1 score on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:35] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:36] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:37] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:38] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy on test data: 50.5%
Accuracy on train data: 55.4%
F1 score on test data: 50.5%
F1 score on train data: 55.4%

In [177]:
X2 = df.drop(['Unnamed: 0', 'Ship Mode'], axis=1)
X2

,Order Priority,Market,Sales,Quantity,Shipping Cost,Discount,City,State,Country,Region,product category
0,3,3,78.408,6,3.87,0.7,41,0,137,5,2
1,3,3,82.674,2,5.69,0.7,41,0,137,5,1
2,1,3,4.248,1,0.10,0.7,2635,821,137,5,1
3,1,3,224.748,6,60.08,0.7,2635,821,137,5,0
4,1,3,6.966,1,1.75,0.7,2635,821,137,5,1
...,...,...,...,...,...,...,...,...,...,...,...
49665,3,1,4.077,1,0.09,0.7,517,178,146,0,1
49666,3,1,7.164,2,0.35,0.7,1310,394,146,0,1
49667,3,1,71.640,2,4.05,0.7,517,178,146,0,2
49668,3,1,1.161,1,0.07,0.7,517,178,146,0,1
49669,1,1,4.104,1,0.80,0.7,2196,600,146,0,1

In [178]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size=0.2, random_state=1122)

In [179]:
sc = StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [180]:
xgb_estimator = xgb.XGBClassifier()
multilabel_model = MultiOutputClassifier(xgb_estimator)
multilabel_model.fit(X_train, y_train)

print('Accuracy on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('Accuracy on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

print('F1 score on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('F1 score on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:46] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:47] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:48] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

/home/masoud533/anaconda3/lib/python3.8/site-packages/xgboost/sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[04:07:49] WARNING: ../src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Accuracy on test data: 59.2%
Accuracy on train data: 67.5%
F1 score on test data: 59.2%
F1 score on train data: 67.5%

In [181]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size=0.2, random_state=1122)

In [182]:
sc = StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [183]:
randomForest = RandomForestClassifier(max_depth=1, criterion='gini',min_samples_leaf=30, n_estimators=120, n_jobs=-1, random_state=1122)
multilabel_model = MultiOutputClassifier(randomForest)
multilabel_model.fit(X_train, y_train)

print('Accuracy on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('Accuracy on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

print('F1 score on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('F1 score on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

Accuracy on test data: 60.0%
Accuracy on train data: 60.1%
F1 score on test data: 60.0%
F1 score on train data: 60.1%

# With PCA

In [189]:
X_train, X_test, y_train, y_test = train_test_split(X2, y, test_size=0.2, random_state=1122)

In [190]:
sc = StandardScaler()
sc.fit(X_train)
X_train=sc.transform(X_train)
X_test=sc.transform(X_test)

In [191]:
pca = PCA(n_components = 9)
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [192]:
X_train

array([[-0.18327043, -0.20041101, -0.04727393, ...,  0.45500458,
        -0.89731943, -0.87955082],
       [ 0.20499621, -0.16402609, -1.56819133, ..., -1.50271721,
         0.12615945,  0.28757806],
       [-0.94716578,  0.19181536, -0.36647195, ...,  0.82887481,
         0.34438982, -1.7459946 ],
       ...,
       [-0.75511237,  0.65944335,  1.83163049, ...,  0.14543752,
         0.49110008, -0.58817735],
       [ 1.2307224 ,  0.26578696,  0.75420684, ..., -0.82219947,
        -1.00077303,  0.80578179],
       [-0.83419663,  1.92591396, -1.75179337, ..., -0.24395835,
         0.73926731, -0.20289999]])

In [193]:
randomForest = RandomForestClassifier(max_depth=1, criterion='gini',min_samples_leaf=30, n_estimators=120, n_jobs=-1, random_state=1122)
multilabel_model = MultiOutputClassifier(randomForest)
multilabel_model.fit(X_train, y_train)

print('Accuracy on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('Accuracy on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

print('F1 score on test data: {:.1f}%'.format(accuracy_score(y_test, multilabel_model.predict(X_test))*100))
print('F1 score on train data: {:.1f}%'.format(accuracy_score(y_train, multilabel_model.predict(X_train))*100))

Accuracy on test data: 58.8%
Accuracy on train data: 58.9%
F1 score on test data: 58.8%
F1 score on train data: 58.9%